app-square {
  width: 100%;
}

.grid2Wrapper{
  width: 100%;
}

.grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
}
