<div class="headingWrapper">
  <h1>Minesweeper</h1>

  <h2>Please input grid </h2>

  <form [formGroup]="difficultyForm" (ngSubmit)="onSubmit()">
    <label>
      <input type="radio" value="Easy" formControlName="difficulty">
      <span>Easy (8x8 10 mines)</span>
    </label>

    <label>
      <input type="radio" value="Medium" formControlName="difficulty">
      <span>Medium (16x16 40 mines)</span>
    </label>

    <label>
      <input type="radio" value="Hard" formControlName="difficulty">
      <span>Hard (16x30 99 mines)</span>
    </label>

    <button class="button" type="submit">Start</button>

  </form>
</div>

<app-minesweeper-grid [val]="grid"></app-minesweeper-grid>
