form{
  display: flex;
  flex-direction: column;
}

form > button{
  max-width: 15rem;

}

form > mat-radio-group{
  display: flex;
  flex-direction: column;

}

form > mat-radio-group > *{
  margin-bottom: 0.5rem;

}



.headingWrapper{
  margin: 1rem;
}
